@font-face {
    font-family: Newake;
    src: url(Fonts/NewakeFont-Demo.otf);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.trex_nav{
    font-family: Newake;
    font-weight: 60;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    margin-top: 17px;
    margin-left: 2.3em;
    font-size:40px;
    color: #202445;

}
.tge{
    font-weight: 60;
    font-family: Newake;
    position: absolute;
    margin-top: 0.5em;
    font-size: 96px;
    display: inline-block;
    width: 493px;
    height: 265px;
    margin-left: 0.4em;
    color: #202445;

}
.headimg{
    width: 100%;
    position: absolute;
    z-index: -1;

}
.logo{
    display: inline;
    top: 0;
    left: 0;
    position: absolute;
    height: 65px;
    width: auto;
    margin-top: 3.2px;
    margin-left: 0em;

        
}
nav{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 27px;
    width:80%;
    height: 65px;
    background-color: #ffffff;
    margin: 10px auto auto auto;
    box-shadow: 0 4px 104px rgba(0, 0, 0, 0.25);
    margin-left: 10%;
}
ul{
    position: relative;
    display: flex;
    margin: 0;
    padding: 0 30px;
    list-style-type: none;
    margin-left: 50%;
    color: #202445;

}
ul li{
    
    /* font-weight: 10; */
    padding: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: #202445;


}
ul li a{
    text-decoration: none;
    color: black;
    color: #202445;

}
.glass{
    top: 242px;
    left: 175px;
    border-radius: 43px;
    background: linear-gradient( 132.94deg, rgba(255, 255, 255, 0.52) 17.44%, rgba(255, 255, 255, 0.1) );
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 509px;
    position: absolute;
    border: 1px solid white;
    box-sizing: border-box;
    width: 457px;
    margin-left: 8em;
}

/* media queries for desktop1 and desktop2 */
@media only screen and (min-width: 768px) {
    ul{
        margin-left:30% ;
    }
}
@media only screen and (min-width: 1920px) {
    ul{
        margin-left: 50%;
    }
}
.signupbx {
    background-color: #ff5737;
    border-radius: 13px;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (min-width: 768px) {
    .glass{
        top: 180px;
        left: 175px;
        margin-left: 3em;
    }
}
@media only screen and (min-width: 1920px) {
    .glass{
        top: 242px;
        left: 175px;
        margin-left: 8em;
    }
}
.glassp{
    font-family: 'Roboto', sans-serif;
    color: white;
    position: absolute;
    margin-top: 17em;
    margin-left: 2.2em;
    stroke: #202445;
}
.glassbag {
    background-color: #ff5737;
    border-radius: 45px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    /* margin-top: 15em; */
    width: 196px;
    margin-left: 1em;
    /* margin-right: 20px; */
}
.glassbag a{
    text-decoration: none;
    font-family: Newake;
    color: #202445;
    text-align: center;
    padding: 0px;
}
.glassw {
    background-color: #ff5737;
    border-radius: 45px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    /* margin-top: 15em; */
    width: 129px;
    margin-right: 40px;
    
}
.glassw a{
    text-decoration: none;
    font-family: Newake;
    color: #202445;
    align-items: center;
}
.glasscta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25em;
    margin-left: 1em;
    margin-right: 0%;
}
.vglass{
    border-radius: 43px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: linear-gradient( 132.94deg, rgba(255, 255, 255, 0.52) 17.44%, rgba(255, 255, 255, 0.1) );
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 350px;
    position: absolute;
    border: 1px solid white;
    width: 457px;
    top: 620px;
    left: 1150px;
}
    
  